*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



#myTable{
	width: 90%;
	margin: 0 auto;
	background-color: #dbdbdb;
	border-radius: 5px;
	border: solid 1px blue;
	overflow: hidden;
	box-shadow: 3px 2px 6px 2px black;
}

table, h1 {
	width: 100%;
	text-align: center;
}

.table th{
	width: 33.3%;
	padding: 5px;
	color: blue;
	background-color: skyblue;
	border: double 2px lightblue;
}
table tr td{
	padding: 5px;
	color: blue;
	background-color: powderblue;
	border: double 2px lightblue;
}